<?xml version='1.0' encoding='utf-8'?>
  <configuration>
    <appSettings>
      <add key="BookingDbConnectionString" 
       value="Data Source=127.0.0.1\\SQLEXPRESS2012;Initial Catalog=sys_booking;User Id=sa;Password=info51987!;" />
      <add key="ConfigurationDbConnectionString" 
       value="Data Source=127.0.0.1\\SQLEXPRESS2012;Initial Catalog=sys_booking;User Id=sa;Password=info51987!;" />
      <add key="ContactDbConnectionString" 
       value="Data Source=127.0.0.1\\SQLEXPRESS2012;Initial Catalog=sys_booking;User Id=sa;Password=info51987!;" />
      <add key="LinksDbConnectionString" 
       value="Data Source=127.0.0.1\\SQLEXPRESS2012;Initial Catalog=sys_booking;User Id=sa;Password=info51987!;" />
      <add key="MemberDbConnectionString" 
       value="Data Source=127.0.0.1\\SQLEXPRESS2012;Initial Catalog=sys_booking;User Id=sa;Password=info51987!;" />
      <add key="DataAccessAssembly" value="BH.DataAccessLayer.LinqToSql.dll" />
      <add key="DataAccessNamespace" value="BH.DataAccessLayer.LinqToSql" />
   </appSettings>  
  </configuration>
